# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Folders
sendEmail.js
server.js
env.d.ts
node_modules
dist
dist-ssr

# Editor directories and files
.env
.DS_Store
